---
import Layout from "@layouts/default.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@components/project-card.astro";
import ProjectListCard from "@components/project-list-card.astro";
import Brief from "@components/brief.astro";

const projects = await getCollection("project");
---

<Layout
  title="Arbeid - Ting vi har skapt"
  description="Se et utvalg av prosjekter vi har jobbet. Siden 2009 har vi endret hvordan folk tenker, arbeider, kommuniserer og jobber gjennom 친 skape digitale produkter."
  socialMediaTitle="Ting vi har skapt i Bjerk 游꺕"
  path="/arbeid"
>
  <main>
    <div class="intro">
      <h1>Arbeider</h1>
      <p>
        Sjekk ut hva vi har stelt i stand siden 2009! Vi har kastet oss ut i 친
        forvandle m친ten folk tenker, jobber, prater og livn칝rer seg p친 ved 친
        lage digre mengder digitale godbiter.
      </p>
      <p>Her f친r du en smakebit p친 noen av v친re hjertebarn.</p>
    </div>
    <section class="projects">
      {
        projects
          .filter((project) => project.data.image)
          .map((project) => <ProjectCard {...project} />)
      }
    </section>
    <section>
      <h2>Noen av v친re andre samarbeid</h2>
      <div class="other-projects">
        {
          projects
            .filter((project) => !project.data.image)
            .map((project) => <ProjectListCard {...project} />)
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
    display: grid;
    gap: 3rem;
  }

  .intro {
    width: min(60ch, 100% - 4rem);
  }

  section {
    margin-block: 1rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .other-projects {
    display: grid;
    gap: 1rem;
  }
</style>