.link-card{
    $this: '.link-card';
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    height: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 5px;
    &:hover,
    &:focus{
        color: inherit;
        text-decoration: none;
        box-shadow: 0 0.187rem 0.937rem rgba(0, 0, 0, 0.06);
    }

    &__img-container{
        position: relative;
        overflow: hidden;
        @include media-mf-dmd{
            background: {
                position: center;
                size: cover;
            }
            height: 16.9vw;
        }
        @include media-df-dmd{
            background-image: none !important;
        }
    }
    &__img{
        max-width: 100%;
        min-width: 100%;
        @include media-mf-dmd{
            display: none;
        }
    }
    &__person{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
        @include media-df-tp{
            transform: scale(.8);
            top: 0px;
            right: 0px;
        }
    }
    &__text,
    &__title{
        max-width: 85%;
    }
    &__title{
        margin-top: 0;
        font-weight: normal;
        font-size: 1.56rem;
    }
    &__text{
        overflow: hidden;
        height: 2.2em;
    }
    &__foter{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 1.875rem;
    }
    &__body{
        width: 100%;
    }
    & #{$this}__arrow{
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto;
        color: #393e46;
    }
}