@import url('//hello.myfonts.net/count/388d74');

@font-face {
  font-family: 'TTCommons';
  font-display: auto;
  font-weight: normal;
  src: url('webfonts/388D74_0_0.eot');
  src: url('webfonts/388D74_0_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/388D74_0_0.woff2') format('woff2'),
    url('webfonts/388D74_0_0.woff') format('woff'),
    url('webfonts/388D74_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'TTCommons';
  font-display: auto;
  font-weight: 200;
  src: url('webfonts/388D74_1_0.eot');
  src: url('webfonts/388D74_1_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/388D74_1_0.woff2') format('woff2'),
    url('webfonts/388D74_1_0.woff') format('woff'),
    url('webfonts/388D74_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'TTCommons-Italic';
  font-display: auto;
  src: url('webfonts/388D74_2_0.eot');
  src: url('webfonts/388D74_2_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/388D74_2_0.woff2') format('woff2'),
    url('webfonts/388D74_2_0.woff') format('woff'),
    url('webfonts/388D74_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'TTCommons';
  font-display: auto;
  font-weight: bold;
  src: url('webfonts/388D74_3_0.eot');
  src: url('webfonts/388D74_3_0.eot?#iefix') format('embedded-opentype'),
    url('webfonts/388D74_3_0.woff2') format('woff2'),
    url('webfonts/388D74_3_0.woff') format('woff'),
    url('webfonts/388D74_3_0.ttf') format('truetype');
}
