@import '../bjerk-design.config';
.header {
  margin: auto;
  height: 10rem;
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
