@import '../shared/colors.css';
.button {

    padding: 1rem;
    color: var(--dark-color);
    text-decoration: none;
} 

.buttonBox {
    border-radius: .38rem;
    border: .07rem solid var(--bjerkgreen-color);
}