@import '../shared/colors.css';
.button {
    border-radius: .38rem;
    border: .07rem solid var(--bjerkgreen-color);
    padding: 1rem;
    color: var(--dark-color);
    text-decoration: none;
    background-color: transparent;
}