@import '~@angular/material/theming';
@import '../styles-lib/variables';

$custom-typography: mat-typography-config(
  $font-family: 'TTCommons, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@import './bjerk-design.config.scss';
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

html {
  font-size: 16px;
}
.mat-button-focus-overlay {
  background: none !important;
}

.mat-button:hover {
  box-shadow: 0 .187rem .937rem rgba(0,0,0, 0.06);
  &.dark {
    box-shadow: 0 .187rem .937rem rgba(0,0,0, 0.24);
  }
}

.mat-button {
  background: none;
  border-radius: 0px !important;
  font-family: 'TTCommons', sans-serif;
  font-weight: 200;
  font-size: 1.33rem;
  text-decoration: underline !important;
  color: $primary;
  padding: 1rem 1.5rem 0.7rem 1.5rem !important;

  mat-icon {
    color: $dark;
  }

  &.dark {
    background: $dark;

    mat-icon {
      color: $dry;
    }
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article.offer-showcase {
  header h2 {
    color: $iron;
    font-size: 9.37rem;
    font-family: 'TTCommons', sans-serif;
    font-weight: 200;
    margin: 3.75rem;
    margin-top: 2.5rem;
    margin-right: 0;
    @include media-df-dmd{
      margin-left: 0;
    }
    @media (max-width: 1120px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 599px) {
      font-size: 3rem;
    }
    span {
      display: inline-block;
      border-bottom: .625rem solid $primary;
    }
  }
  section {
    font-size: 1.5rem;
    margin: 3.75rem;
    margin-left: 0;
    color: $iron;
  }
}

.container{
  margin: 0 15px;
  width: calc(100% - 30px);
  @include media-mf-dmd{
    width: 1170px;
    margin: auto;
  }
  @include media-mf-dlg{
    width: 1360px;
  }
  @include media-mf-dxlg{
    width: 1640px;
  }
}

