<footer class="footer">
  <div class="container footer__container">
    <h2 class="footer__title"> We are located a 10 minute walk from Oslo Central Station,<br [attr.aria-hidden]='true'/> <a href='javascript:void(0)' class='footer__link footer__link_decorated'>Go to the maps!</a> </h2>
    <div class="footer__logo-block">
      <app-bjerk-logo [inverted]='true'></app-bjerk-logo>
      <p class='footer__text'>Agency of Business Arts since 2018.</p>
    </div>
    <div class="footer__contacts">
      <p class='footer__text footer__text_dark'>Dronningens gate 8B, 0152 Oslo, Norway<br [attr.aria-hidden]="true"/> D-U-N-S 345224865 / VAT 912 519 627 (NO)</p>
      <a class='footer__link footer__link_row' href='mailto:office@bjerk.io'>office@bjerk.io</a>
      <a class='footer__link footer__link_row' href='tel:+4745402011'>+47 45 40 20 11</a>
    </div>
  </div>
</footer>
