.footer{
    font-size: 1rem;
    background-color: $dark;
    color: #fff;
    padding: {
        top: 10vw;
        bottom: 6vw;
    }
    &__title{
        margin: 0;
        font-weight: normal;
        font-size: 3em;
        line-height: 1em;
    }
    &__logo-block{
        margin: 8vw 0 3vw;
    }
    &__text{
        font-size: 1.5em;
        &_dark{
            color: #94979B;
        }
    }
    &__link{
        display: inline-block;
        position: relative;
        color: #fff;
        text-decoration: none;
        &:focus,
        &:hover{
            text-decoration: none;
        }
        &_row{
            font-size: 1.5em;
            &:first-of-type{
                margin-right: 2.75em;
            }
        }
        &_decorated{
            &::after{
                content: '';
                width: 90%;
                height: 2px;
                display: block;
                position: absolute;
                background-color: currentColor;
                bottom: -10px;
                left: 0;
            }
        }
    }
    @include media-df-dsm{
        font-size: .8rem;
    }
    @include media-df-tp{
        font-size: .6rem;
        padding-bottom: 100px;
    }
}