
<section class="hero hero_clip">
  <article class="container hero__container">
    <div class="hero__half hero__half_cont_center">
      <app-graph></app-graph>
    </div>
    <div class="hero__half">
        <h1 class='hero__title hero__title_large'>We are<br [attr.aria-hidden]='true'/>multi-disciplinary</h1>
        <p class='hero__text hero__text_compress'>We believe that business is all about using the right tools for the job. We stand for extreme innovation, and believes that it’s all about knowing when, where and how to change in a dynamic market. Breaking loose from the ordinary routine is hard, but we will guide you through it from a new perspective. </p>
    </div>
    <footer class="hero__footer">
      <h2 class='hero__title hero__title_color' lazy-load-images>Let’s have fun together!
        <img [attr.data-src]="'assets/bjerk-emoji-smiling.svg'" class='hero__emoji' alt="">
      </h2>
      <p class='hero__text'>We know that superb projects are built by great relationships. Let’s start off by getting to know each other. Book a free introductory with us through <a href="javascript:void(0)">Google Meet.</a></p>
      <a href="https://bjerk.youcanbook.me/" target="_blank" class='hero__link'>Find a suitable time now <mat-icon>arrow_right_alt</mat-icon></a>
    </footer>
  </article>
</section>
