
<section class="hero hero_clip">
  <article class="container hero__container">
    <div class="hero__half hero__half_cont_center">
      <img src="assets/bjerk-graph.svg" alt="" class='hero__graph'>
    </div>
    <div class="hero__half">
        <h1 class='hero__title hero__title_large'>This title makes sence, right?</h1>
        <p class='hero__text hero__text_compress'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id libero et dui porttitor auctor. Aliquam erat volutpat. Donec euismod nibh ligula, sed aliquet arcu feugiat ac. Sed cursus placerat nibh, ut tincidunt dui lacinia et. Phasellus accumsan finibus elit sed ultricies. Fusce quis efficitur nisl. Quisque ac suscipit libero, lacinia facilisis sapien. Proin imperdiet eleifend tortor. Sed eget nulla a lacus suscipit accumsan. Duis aliquet ex in sagittis placerat.</p>
    </div>
    <footer class="hero__footer">
      <h2 class='hero__title hero__title_color'>Let’s have fun together! 
        <img src="assets/bjerk-emoji-smiling.svg" class='hero__emoji' alt="">
      </h2>
      <p class='hero__text'>We know that superb projects are built by great relationships. Let’s start off by getting to know each other. Book a free introductory with us through <a href="javascript:void(0)">Google Meet.</a></p>
      <a href="javascript:void(0)" class='hero__link'>Find a suitable time now <mat-icon>arrow_right_alt</mat-icon></a>
    </footer>
  </article>
</section>