.person-avatar{
    height: 345px;
    width: 345px;
    overflow: hidden;
    border-radius: 50%;
    &_sm{
        height: 100px;
        width: 100px;
    }
    &__img{
        max-width: 100%;
    }
}