<app-hero></app-hero>
<section class="formated-text container">
    <div class="formated-text__column formated-text__column_small">
        <h3 class='formated-text__subtitle'>What do we know?</h3>
        <img src="assets/bjerk-we-got-you-bro.svg" alt="" class="formated-text__we-got">
    </div>
    <div class="formated-text__column formated-text__content">
        <h2 class="formated-text__title">One should from time to time ask one self what you actually want in bla bla. We ask our self that all day – every day, and we choose this bla bla.</h2>
        <p class="formated-text__text">Fusce a lobortis est, in tempus lectus. Aenean condimentum ornare felis malesuada commodo. Praesent cursus, nisl at pretium pulvinar, ante tellus feugiat nulla, nec euismod mauris massa a magna. Vivamus quis condimentum massa, nec venenatis quam. Aliquam egestas mi ipsum, eu hendrerit mauris tempor at. Praesent erat sapien, semper nec urna ac, facilisis laoreet mi. Praesent non lorem sem. Nunc augue mi, rhoncus sit amet convallis sed, fermentum ut ligula. Vestibulum facilisis sagittis nunc non feugiat. Aliquam sed scelerisque libero. Sed sit amet velit in nisi cursus porttitor eu sit amet purus. Duis convallis dui non luctus accumsan. Quisque commodo arcu justo, ut fringilla nisi sodales quis.</p>
        <p class="formated-text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu eros mi. Donec scelerisque pharetra elit, vel molestie massa lacinia ut. Vestibulum id nunc tortor. Nulla dictum commodo nisl, id ultrices dui fermentum quis. Vivamus pulvinar, dolor in dictum vulputate, massa eros tristique ex, sed accumsan nibh nunc non quam. Vivamus a rutrum augue, at posuere urna. Curabitur porta leo lectus. Fusce id posuere tellus, ac egestas lacus. Vivamus pharetra metus quis dolor tincidunt vulputate.</p>
        <div class="formated-text__menu links-list">
            <h4 class="links-list__title">Look at our delicious menu</h4>
            <nav class="links-list__container">
                <a href="javascript:void(0)" class="links-list__link">Digitalization</a>
                <a href="javascript:void(0)" class="links-list__link">Application Development</a>
                <a href="javascript:void(0)" class="links-list__link">Marketing</a>
                <a href="javascript:void(0)" class="links-list__link">Business Strategy</a>
            </nav>
        </div>
    </div>
</section>