<app-hero></app-hero>
<section class="formated-text container">
    <div class="formated-text__column formated-text__column_small">
        <h3 class='formated-text__subtitle'>What do we know?</h3>
        <img src="assets/bjerk-we-got-you-bro.svg" alt="" class="formated-text__we-got">
    </div>
    <div class="formated-text__column formated-text__content">
        <h2 class="formated-text__title">The Fourth Industrial Revolution will bring us advanced robotics, self-driving cars,  artificial intelligence and machine learning. Also, advanced materials, biotechnology, and genomics.</h2>
        <p class="formated-text__text">This will impact the way we live, but also how the business will change. As a part of this, some jobs will disappear, others will grow and new jobs that don't exist today will be standard. One thing is sure - the future workplace will need to align to keep up to speed.<br /><br /></p>
        <p class="formated-text__text">One of the top three skills both workers and businesses will need is creativity. With the avalanche of new technologies, new ways of working and new products, companies are going to have to become more creative to exploit these enormous changes.</p>
        <p class="formated-text__text">With the help of machine learning, we can get where we want faster, but nevertheless - robots can't never be as creative as the human mind.</p>
        <p class="formated-text__text">In 2015 negotiation and flexibility were amongst the tops skills, in 2020 they will not be on the top 10 list as machines, using masses of data, will begin to make our decisions.</p>
        <p class="formated-text__text">Each of our team members has unique knowledge and competencies within their field so that we can offer you a bulging buffet of digitalization that helps your business thrive in the new economy.</p>

        <div class="formated-text__menu links-list">
            <h4 class="links-list__title">Look at our delicious menu</h4>
            <nav class="links-list__container">
                <a href="javascript:void(0)" class="links-list__link">Digitalization</a>
                <a href="javascript:void(0)" class="links-list__link">Application Development</a>
                <a href="javascript:void(0)" class="links-list__link">Marketing</a>
                <a href="javascript:void(0)" class="links-list__link">Business Strategy</a>
            </nav>
        </div>
    </div>
</section>
