:root {
	--green100: rgba(144, 244, 148, 1);
	--green80: rgba(166, 247, 174, 1);
	--green60: rgba(188, 249, 198, 1);
	--green40: rgba(210, 251, 224, 1);
	--green20: rgba(237, 249, 241, 1);

	--dark100: rgba(15, 32, 64, 1);
	--dark80: rgba(39, 54, 83, 1);
	--dark60: rgba(87, 99, 121, 1);
	--dark60: rgba(135, 143, 159, 1);
	--dark40: rgba(183, 188, 198, 1);

	--blue100: rgba(42, 59, 204, 1);
	--blue80: rgba(75, 92, 240, 1);
	--blue60: rgba(112, 135, 255, 1);
	--blue40: rgba(143, 161, 255, 1);
	--blue20: rgba(201, 209, 255, 1);
}

:root {
	--color-light: var(--green20);
	--color-dark: var(--dark100);

	// App background
	--color-app-bg: var(--green20);

	// Subtle background
	--color-subtle-bg: white;

	// UI element background
	--color-ui-bg: var(--blue20);

	// Hovered UI element background
	--color-ui-bg-hover: var(--blue40);

	// Active / Selected UI element background
	--color-ui-bg-active: var(--blue100);

	// Subtle borders and separators
	--color-subtle-border: var(--blue100);

	// UI element border and focus rings
	--color-ui-border: var(--blue100);

	// Hovered UI element border
	--color-ui-border-hover: var(--violet-8);

	// Solid backgrounds
	--color-solid-bg: var(--dark80);

	// Hovered solid backgrounds
	--color-solid-bg-hover: var(--dark100);

	// Low-contrast text
	--color-low-contrast-text: var(--dark80);

	// High-contrast text
	--color-high-contrast-text: var(--dark100);
}

@media (prefers-color-scheme: dark) {
	:root {
		// App background
		--color-app-bg: var(--dark100);

		// Subtle background
		--color-subtle-bg: var(--dark80);

		// UI element background
		--color-ui-bg: var(--blue20);

		// Hovered UI element background
		--color-ui-bg-hover: var(--blue40);

		// Active / Selected UI element background
		--color-ui-bg-active: var(--blue100);

		// Subtle borders and separators
		--color-subtle-border: var(--blue100);

		// UI element border and focus rings
		--color-ui-border: var(--blue100);

		// Hovered UI element border
		--color-ui-border-hover: var(--violet-8);

		// Solid backgrounds
		--color-solid-bg: var(--dark80);

		// Hovered solid backgrounds
		--color-solid-bg-hover: var(--dark100);

		// Low-contrast text
		--color-low-contrast-text: var(--color-light);

		// High-contrast text
		--color-high-contrast-text: white;
	}
	:global(html) {
		color-scheme: dark;
	}
}
