:root {
	--white: rgba(255, 255, 255, 1);

	--green100: rgba(144, 244, 148, 1);
	--green80: rgba(166, 247, 174, 1);
	--green60: rgba(188, 249, 198, 1);
	--green40: rgba(210, 251, 224, 1);
	--green20: rgba(237, 249, 241, 1);

	--dark100: rgba(15, 32, 64, 1);
	--dark80: rgba(39, 54, 83, 1);
	--dark60: rgba(87, 99, 121, 1);
	--dark60: rgba(135, 143, 159, 1);
	--dark40: rgba(183, 188, 198, 1);

	--blue100: rgba(42, 59, 204, 1);
	--blue80: rgba(75, 92, 240, 1);
	--blue60: rgba(112, 135, 255, 1);
	--blue40: rgba(143, 161, 255, 1);
	--blue20: rgba(201, 209, 255, 1);

	--access: rgba(74, 217, 123, 1);
	--error: rgba(220, 59, 88, 1);
	--warning: rgba(255, 212, 100, 1);
}
