@use './colors.scss';
@use './sizes.scss';
@use '@fontsource-variable/sora';

$green100: rgba(144, 244, 148, 1);

:root {
	--max-width: 1100px;
	--border-radius-sm: 0.375rem;
	--border-radius-base: 0.75rem;

	--foreground-color: var(--dark100);
	--background-color: var(--green20);
	--hero-background-color: var(--green100);
	--primary-color: var(--green100);
	--accent-color: var(--blue100);

	--font-line-height: 1.75rem;
	--text-color: var(--dark100);
	--text-color-light: var(--green20);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #273653;
		--text-color: var(--green20);
		--foreground-color: #0f2040;
		--text-color-light: var(--green20);

		--accent-color: var(--green20);
		--hero-background-color: var(--dark100);
	}
	:global(html) {
		color-scheme: dark;
	}
}

:global(*) {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:global(a) {
	color: var(--accent-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

:global(html, body) {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 18px;

	font-family:
		'Sora Variable',
		system-ui,
		-apple-system,
		sans-serif;

	background-color: var(--background-color);
	color: var(--text-color);
}

:global(.container) {
	margin: 0 auto;
	max-width: var(--max-width);
	padding: var(--size-md);
}
