@use './colors.scss';
@use '@fontsource-variable/sora';

:root {
  --container-width: min(76ch, 100% - 4rem);
  --border-radius-sm: 0.375rem;
  --border-radius-base: 0.75rem;

  // Fluid Type Scale polyfill, for browsers that don't support clamp
  --font-size-sm: 0.8125rem; // 13px
  --font-size-base: 1rem; // 16px
  --font-size-md: 1.25rem; // 20px
  --font-size-lg: 1.56rem; // 25px
  --font-size-xl: 1.95rem; // 31px
  --font-size-xxl: 2.44rem; // 39px
  --font-size-xxxl: 3.05rem; // 49px

  // Fluid Type Scale clamp
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem); // 13px
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem); // 16px
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem); // 20px
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem); // 25px
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem); // 31px
  --font-size-xxl: clamp(2rem, 2.38vw + 1.85rem, 3.75rem); // 39px
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem); // 49px
}

:global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // text smoothing / antialiasing / rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:global(a) {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:global(html, body) {
  font-size: var(--font-size-base);

  font-family:
    'Sora Variable',
    system-ui,
    -apple-system,
    sans-serif;

  background-color: var(--color-app-bg);
  color: var(--color-high-contrast-text);
}

:global(h1, h2, h3, h4, h5) {
  text-wrap: balance;
}

:global(.container) {
  width: var(--container-width);
  margin-inline: auto;
}
