@mixin button {
	box-shadow: var(--border-radius-base);
	border: 0px;

	cursor: pointer;
	display: inline-flex;
	width: fit-content;
	align-items: center;
	gap: var(--size-sm);
	outline: none;
	text-align: center;
	text-decoration: none;

	padding: var(--size-base) var(--size-md);
	background-color: transparent;
	border: 0.15rem solid var(--foreground-color);
	color: inherit;
	border-radius: 80px;

	transition:
		background-color 0.2s,
		transform 0.2s,
		border-color 0.2s;

	&:hover {
		text-decoration: none;

		background-color: var(--green100);
		transform: scale(1.15) rotate(-3deg);
		border-color: transparent;
	}

	&:active {
		border: 2px solid var(--dark40);
	}
}

@mixin button-link {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
}