---
import Brief from '@components/brief.astro';
import Person from '@components/person.astro';
import Layout from '@layouts/default.astro';
import { getCollection } from 'astro:content';

const people = await getCollection('people');
const makeUrl = (path: string) => new URL(path, Astro.site).toString();


const employees = people.filter(person => person.data.email.includes('@bjerk.io')).sort((a, b) => {
  if (b.data.position.toLowerCase().includes('styreleder')) {
    return -1;
  }

  if (a.data.position.toLowerCase().includes('r친dgiver')) {
    return -1;
  }

  return a.data.givenName.localeCompare(b.data.givenName);
});
---

<Layout
  title="M칮t teamet i Bjerk"
  description="Bli med 친 skap noe med oss! Start i dag om 친 lage skreddersydde l칮sninger og f친 tilgang p친 ekspertise innen digital innovasjon."
  socialMediaTitle="游 Start samtalen med Bjerk: Bli med 친 skap noe med oss!"
  socialMediaDescription="Start en samtale med Bjerk i dag for 친 lage skreddersydde l칮sningerog f친 tilgang p친 ekspertise innen digital innovasjon."
  path="/kontakt"
  schema={{
    '@context': 'https://schema.org',
    '@type': 'ProfessionalService',
    name: 'Bjerk',
    url: makeUrl('/'),
    logo: [makeUrl('/assets/logo.svg'), makeUrl('/assets/square-logo.svg')],
    image: makeUrl('/assets/logo.svg'),
    telephone: '+47 95308087',
    email: 'office@bjerk.io',
    taxID: '930 334 693',
    priceRange: '$$$',
    address: {
      '@type': 'PostalAddress',
      streetAddress: 'Akersgata 51',
      addressLocality: 'Oslo',
      addressRegion: 'Oslo',
      postalCode: '0180',
      addressCountry: 'NO',
    },
    sameAs: [
      'https://www.facebook.com/bjerkorg',
      'https://www.linkedin.com/company/bjerk',
      'https://github.com/bjerkio',
    ],
    member: people.map(person => ({
      '@type': 'EmployeeRole',
      name: person.data.position,
      member: {
        '@type': 'Person',
        givenName: person.data.givenName,
        familyName: person.data.familyName,
        image: person.data.image.src,
        sameAs: person.data.socialMedia.map(media => media.url),
      },
    })),
  }}
>
  <main>
    <Brief title='Kontakt'>
      <p>Vi gleder oss til 친 h칮re fra deg!</p>
      <p>
        Bjerk har kontorer i Oslo ved Akersgata 51, 0180 Oslo og Finland. Du f친r
        tak i oss via e-post til
        <a href="mailto:kontoret@bjerk.io">kontoret@bjerk.io</a>.
      </p>
      <section class="details">
        <dl>
          <div>
            <dt>E-post</dt>
            <dd><a href="mailto:kontoret@bjerk.io">kontoret@bjerk.io</a></dd>
          </div>
          <div>
            <dt>Adresse</dt>
            <dd>
              <a
                href="https://goo.gl/maps/FkcqThLgRtCauPmZA"
                target="_blank"
                rel="noopener noreferrer"
              >
                Akersgata 51, 0180 Oslo <!-- <ArrowSquareOut /> -->
              </a>
            </dd>
          </div>
        </dl>
      </section>
      <br>
      <p>
        Send oss en melding
      </p>
      <form action="">
        <div class="issue">
          <textarea placeholder="Hva dreier deg seg om?" name="text" id="text" rows="5" required />
        </div>
        <div class="identity">
          <input placeholder="Navn eller e-postadresse" type="text" name="name" id="name" required />
          <input type="submit" value="Trykk meg" id="submit">
        </div>
        <div class="gdpr">
          <div class="accept">
            <input type="checkbox" name="personvern" id="" value="accept" required>  
            <p>Jeg bekrefter at jeg har lest og akseptert v친r <a href="/personvern" target="_blank">personvern춼erkl칝ring</a>.</p>
          </div>
        </div>
      </form>    
    </Brief>
    <section class="employees">
      {employees.map(person => <Person person={person} />)}
    </section>
  </main>
</Layout>

<style>
  section,
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .brief {
    max-width: 64ch;
  }

  main {
    width: var(--container-width);
    margin-inline: auto;
    gap: 2rem;
  }

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    gap: 1rem;
    font-family:
          'Sora Variable',
          system-ui,
          -apple-system,
          sans-seri;
  }

  dl div > dt {
    opacity: 50%;
  }

  dl div > dd {
    margin-inline-start: 0px;
  }

  dl div > dd a {
    color: inherit;
  }
  input, textarea {
    width: auto;
    padding: 16px 0;
    border: none;
    border-block-end: 1px solid grey;
    resize: none;
    font-family:
          'Sora Variable',
          system-ui,
          -apple-system,
          sans-seri;
  }

  input:focus {
    background-color: hsl(var(--blue-base) 95%);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  form .identity {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }
  form .issue {
    display: grid;
    grid-template-columns: 1fr;
  }
  form #submit {
    font-size: 1rem;
    padding: 0.25rem 1rem;
    margin: 4px;
    border-radius: 16px;
    border: solid;
    border-width: 2px;
    border-color: hsl(var(--green-base) 75%);
    text-decoration: none;
    background-color: white;
  }
  form #submit:hover {
    background-color: hsl(var(--green-base) 75%);
  }
  form #submit:active {
    border-color: hsl(var(--green-base) 55%);
    background-color: hsl(var(--green-base) 55%);
  }
  form .gdpr {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  form .accept {
    display: flex;
    flex-grow: 2;
    gap: 0.5em;
  }
  form .accept * {
    max-width: 60ch;
    font-size: 0.75rem;
    margin: 0.5em 0;
  }
  .employees {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
    gap: 2rem;
  }
</style>
