---
import Person from "@components/person.astro";
import Layout from "@layouts/default.astro";
import { getCollection } from "astro:content";

const people = await getCollection("people");
const makeUrl = (path: string) => new URL(path, Astro.site).toString();

const employees = people
  .filter(person => person.data.email.includes("@bjerk.io"))
  .filter(person => person.data.type === "employee")
  .sort((a, b) => {
    if (b.data.position.toLowerCase().includes("styreleder")) {
      return -1;
    }

    if (a.data.position.toLowerCase().includes("rådgiver")) {
      return -1;
    }

    return a.data.givenName.localeCompare(b.data.givenName);
  });
---

<Layout
  title="Møt teamet i Bjerk"
  description="Bli med å skap noe med oss! Start i dag om å lage skreddersydde løsninger og få tilgang på ekspertise innen digital innovasjon."
  socialMediaTitle="🚀 Start samtalen med Bjerk: Bli med å skap noe med oss!"
  socialMediaDescription="Start en samtale med Bjerk i dag for å lage skreddersydde løsningerog få tilgang på ekspertise innen digital innovasjon."
  path="/kontakt"
  schema={{
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    name: "Bjerk",
    url: makeUrl("/"),
    logo: [makeUrl("/assets/logo.svg"), makeUrl("/assets/square-logo.svg")],
    image: makeUrl("/assets/logo.svg"),
    telephone: "+47 95308087",
    email: "office@bjerk.io",
    taxID: "930 334 693",
    priceRange: "$$$",
    address: {
      "@type": "PostalAddress",
      streetAddress: "Arbins gate 11",
      addressLocality: "Oslo",
      addressRegion: "Oslo",
      postalCode: "0253",
      addressCountry: "NO",
    },
    sameAs: [
      "https://www.facebook.com/bjerkorg",
      "https://www.linkedin.com/company/bjerk",
      "https://github.com/bjerkio",
    ],
    member: people.map(person => ({
      "@type": "EmployeeRole",
      name: person.data.position,
      member: {
        "@type": "Person",
        givenName: person.data.givenName,
        familyName: person.data.familyName,
        image: person.data.image.src,
        sameAs: person.data.socialMedia.map(media => media.url),
      },
    })),
  }}
>
  <main>
    <div class="contact-info">
      <a href="https://tally.so/r/3EbV2B" class="button">
        Send oss en melding →
      </a>
      <section class="details">
        <dl>
          <div>
            <dt>E-post</dt>
            <dd><a href="mailto:kontoret@bjerk.io">kontoret@bjerk.io</a></dd>
          </div>
          <div>
            <dt>Adresse</dt>
            <dd>
              <a
                href="https://goo.gl/maps/FkcqThLgRtCauPmZA"
                target="_blank"
                rel="noopener noreferrer"
              >
                Arbins gate 11, 0253 Oslo
              </a>
            </dd>
          </div>
        </dl>
      </section>
    </div>
    <section class="employees">
      {employees.map(person => <Person person={person} />)}
    </section>
  </main>
</Layout>

<style>
  section,
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-block: 4rem;
  }

  main {
    width: var(--container-width);
    margin-inline: auto;
    gap: 2rem;
  }

  dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 2rem;
    font-family:
      "Sora Variable",
      system-ui,
      -apple-system,
      sans-seri;
  }

  dl div > dt {
    opacity: 50%;
  }

  dl div > dd {
    margin-inline-start: 0px;
  }

  dl div > dd a {
    color: inherit;
  }

  .employees {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
    gap: 2rem;
  }

  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
    font-size: 1.25rem;
    text-decoration-color: inherit;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.25rem;
  }
</style>
