---
import Layout from '@layouts/default.astro';
---

<Layout title="Woops! Siden finnes ikke hos Bjerk" path="/">
  <main>
    <p>404 Ikke funnet</p>
    <h1>SIDEN FINNES IKKE</h1>
    <p>
      Siden du leter etter er enten flyttet eller eksisterer ikke lenger. Dersom
      vi har linket feil, så setter vi veldig pris på om du sender oss en
      melding.
    </p>
    <ul>
      <li><a href="/">Gå tilbake til forsiden</a></li>
      <li><a href="/kontakt">Si ifra til noen™</a></li>
    </ul>
  </main>
</Layout>

<style>
  main {
    width: min(40ch, 100% - 4rem);
    margin-inline: auto;
  }
</style>
