---
import Layout from '@layouts/default.astro';
import { Image } from 'astro:assets';
import ArrowRight from '~icons/ph/arrow-right';
import LandingImage from '@assets/lea-l-q--99IzY8Lw-unsplash.jpg';

const url = Astro.site;
---

<Layout
  title="Bjerk - vi skaper en bedre verden gjennom teknologi"
  socialMediaTitle="Vi skaper en bedre verden gjennom teknologi"
  socialMediaDescription="✨ Vi i Bjerk tror på kraften av teknologi for å forme en bedre fremtid! Bli med på reisen vår mens vi transformerer måten vi lærer, tenker, jobber og kommuniserer på. Sammen skaper vi digitale løsninger for en lysere og smartere verden"
  description="Oppdag hvordan Bjerk driver global forandring gjennom teknologi. Vi forenkler og forbedrer læring, tenkning, arbeid og kommunikasjon med skreddersydde digitale løsninger. Bli med oss i å skape en lysere fremtid."
  path="/"
>
  <main>
    <p>404 Ikke funnet</p>
    <h1>SIDEN FINNES IKKE</h1>
    <p>
      Siden du leter etter er enten flyttet eller eksisterer ikke lenger. Dersom
      vi har linket feil, så setter vi veldig pris på om du sender oss en
      melding.
    </p>
    <ul>
      <li><a href="/">Gå tilbake til forsiden</a></li>
      <li><a href="/contact">Si ifra til noen™</a></li>
    </ul>
  </main>
</Layout>

<style>
  main {
    width: min(40ch, 100% - 4rem);
    margin-inline: auto;
  }
</style>
