---
import Layout from "@layouts/default.astro";
---

<Layout title="Woops! Siden finnes ikke hos Bjerk" path="/">
  <main>
    <p>404 Ikke funnet</p>
    <h1>SIDEN FINNES IKKE</h1>
    <p>
      Siden du leter etter er enten flyttet eller eksisterer ikke lenger. Dersom
      vi har linket feil, så setter vi veldig pris på om du sender oss en
      melding.
    </p>
    <ul>
      <li><a href="/">Gå tilbake til forsiden</a></li>
      <li><a href="/kontakt">Ta kontakt med oss</a></li>
    </ul>
  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
    margin-block: 10rem;
  }

  ul {
    list-style: none;
    padding-inline: 0;
  }

  p {
    width: min(60ch, 100% - 4rem);
  }
</style>
