---
import Layout from "@layouts/default.astro";

const url = Astro.site;
---

<Layout
  title="Bjerk - Vi skaper en bedre verden gjennom teknologi"
  socialMediaTitle="Vi skaper en bedre verden gjennom teknologi 🌳"
  socialMediaDescription="✨ Vi i Bjerk tror på kraften av teknologi for å forme en bedre fremtid! Bli med på reisen vår mens vi transformerer måten vi lærer, tenker, jobber og kommuniserer på. Sammen skaper vi digitale løsninger for en lysere og smartere verden"
  description="Oppdag hvordan Bjerk driver global forandring gjennom teknologi. Vi forenkler og forbedrer læring, tenkning, arbeid og kommunikasjon med skreddersydde digitale løsninger. Bli med oss i å skape en lysere fremtid."
  path="/"
  schema={{
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: 'Bjerk',
    alternateName: ['Bjerk AS', 'BJRK', 'BK', 'bjerk.io'],
    url,
  }}
>
  <main>
    <div class="hero">
      <h1>Bjerk er et teknologibyrå som skriver kode for å skape, forbedre og	forenkle for ambisiøse bedrifter.</h1>
      <a href="/om" class="button">
        Kom i gang →
      </a>
    </div>

  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
  }

  .hero {
    max-width: 65ch;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .intro-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
  }

  .landing-image {
    width: 100%;
    height: auto;
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-block-start: 2rem;
  }

  h1 {
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    line-height: 1.1;
    font-weight: 400;
    text-wrap: pretty;
  }

  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>