---
import Layout from "@layouts/default.astro";
import { Image } from "astro:assets";
import HeroImage from "../assets/people-working.jpg";

const url = Astro.site;
---

<Layout
  title="Bjerk - Vi skaper en bedre verden gjennom teknologi"
  socialMediaTitle="Vi skaper en bedre verden gjennom teknologi 🌳"
  socialMediaDescription="✨ Vi i Bjerk tror på kraften av teknologi for å forme en bedre fremtid! Bli med på reisen vår mens vi transformerer måten vi lærer, tenker, jobber og kommuniserer på. Sammen skaper vi digitale løsninger for en lysere og smartere verden"
  description="Oppdag hvordan Bjerk driver global forandring gjennom teknologi. Vi forenkler og forbedrer læring, tenkning, arbeid og kommunikasjon med skreddersydde digitale løsninger. Bli med oss i å skape en lysere fremtid."
  path="/"
  schema={{
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Bjerk",
    alternateName: ["Bjerk AS", "BJRK", "BK", "bjerk.io"],
    url,
  }}
>
  <main>
    <section class="hero">
      <div class="pitch">
        <h1>
          Bjerk er et teknologibyrå som skriver kode for å skape, forbedre og
          forenkle for ambisiøse bedrifter.
        </h1>
        <a href="/om" class="button"> Kom i gang → </a>
      </div>
      <div class="services">
        <Image
          src={HeroImage}
          alt="Bilde av folk som jobber"
          class="landing-image"
        />
        <nav aria-label="Det vil tilbyr">
          <a href="/var-losninger/integrasjoner">Data og integrasjoner →</a>
          <a href="/var-losninger/radgivning">Rådgivning →</a>
          <a href="/var-losninger/produktutvikling">Produktutvikling →</a>
          <a href="/var-losninger/utvikling">Teknologi og utvikling →</a>
          <a href="/var-losninger/opplaring">Opplæring →</a>
        </nav>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    --gap: 5rem;
  }

  .hero {
    margin-block-start: 2rem;
    margin-inline: auto;
    width: min(var(--container-width), 1460px);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .hero > .services {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .landing-image, nav {
      max-width: 1151px;
      align-self: flex-end;
      width: 100%;
    }

    .landing-image {
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      margin-block-start: 2rem;
    }

    & > nav {
      display: grid;
      gap: 0.5rem;
      flex-wrap: wrap;

      a {
        --color-link: var(--color-app-text);
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .intro-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
  }


  h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    line-height: 1.1;
    font-weight: 400;
    text-wrap: pretty;
    max-width: 40ch;
  }

  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
    font-size: 1.25rem;
    text-decoration-color: inherit;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.25rem;
  }
</style>
