---
import Layout from "@layouts/base.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import HeroImage from "../assets/people-working.jpg";
import ProjectCard from "@components/project-card.astro";
import PartnerCard from "@components/partner-card.astro";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";

const projects = await getCollection("project");
const partners = await getCollection("partner");
const url = Astro.site;
---

<Layout
  title="Bjerk - Økonomisystemer som funker for små og mellomstore bedrifter"
  description="Vi lager regnskaps- og økonomisystemer folk faktisk liker å bruke. Enkle, smarte produkter som gir små og mellomstore bedrifter mer tid til å skape verdi."
  socialMediaTitle="Vi lager økonomisystemer folk faktisk liker å bruke 🌳"
  socialMediaDescription="Slipp å slåss med kompliserte regnskapssystemer. Vi lager økonomisystemer med fokus på brukeropplevelse - enkle, smarte produkter som gir deg mer tid til det som virkelig betyr noe. Langsiktige partnerskap for varig effekt."
  path="/"
  colorScheme="light"
  schema={{
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Bjerk",
    alternateName: ["Bjerk AS", "BJRK", "BK", "bjerk.io"],
    url,
  }}
>
  <div class="container">
    <div class="hero">
      <Header />
      <section class="pitch">
        <h1>Vi lager økonomisystemer folk liker å bruke</h1>
        <p>
          Enkle, smarte digitale produkter som gir deg mer tid til det som
          virkelig betyr noe.
        </p>
        <a href="/om" class="button">Les mer →</a>
      </section>
    </div>
    <section class="partners">
      <h2>Noen av de vi jobber med</h2>

      <div class="logos">
        {partners.map(partner => <PartnerCard {...partner} />)}
      </div>
    </section>
  </div>
  <Footer />
</Layout>

<style>
  .container {
    --gap: 12rem;
  }

  .pitch {
    min-height: 30vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      max-width: 40ch;
      text-align: center;
      padding-bottom: 0rem;
      font-size: 1.25rem;
      text-wrap: pretty;
    }

    h1 {
      font-size: clamp(1.5rem, 2.5vw, 2.25rem);
      margin-bottom: 0;
      max-width: 60ch;
      line-height: 1.1;
      font-weight: 800;
      text-wrap: pretty;
      text-align: center;
    }

    .button {
      display: inline-block;
      text-align: center;
      color: inherit;
      font-size: 1.25rem;
      text-decoration-color: inherit;
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 0.25rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    .button:hover {
      outline: 2px solid var(--color-focus-bg);
      outline-offset: 2px;
    }

    .button:focus {
      background-color: hsl(250, 100%, 98%);
    }
  }

  .partners {
    max-width: 1200px;
    text-align: center;
    margin-inline: auto;
    margin-block: var(--gap);
    padding-inline: 2rem;

    > h2 {
      margin-bottom: 4rem;
    }

    > .logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-items: center;
      justify-content: center;

      gap: 3rem;
    }
  }

  .logos :global(> *) {
    max-height: 38px;
    max-width: 150px;
  }

  @media (max-width: 600px) {
    .partners > .logos {
      gap: 1.5rem;
    }

    .logos :global(> *) {
      max-height: 25px;
      max-width: 75px;
    }
  }
</style>