---

interface Props {
  title: string,
}

const { title } = Astro.props;

---
<section class="brief">
  <h1>{title}</h1>
  <div class="heading">
    <slot/>
  </div>
</section>

<style>
  .brief {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 3rem;
  }
  h1::after {
    content: '.';
    font-family: 'Source Code Pro';
    color: hsl(var(--blue-base) 50%);
    font-weight: 800;
  }
  @media (max-width: 640px) {
    .brief {
      flex-direction: column;
    }
  }
</style>

<style is:global>
  .brief {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 3rem;
  }
  .brief h1 {
    display: block;
    align-self: top;
    margin: 0;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 400;
    font-stretch: extra-condensed;
  }
  .heading {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
    max-width: 64ch;
  }
  .heading *:first-child {
    margin-top: 0;
  }
  .heading *:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 640px) {
    .heading *:not(a) {
      padding-left: 0;
      padding-right: 0;
    }
  }
</style>