<aside class="broadcast" role="complementary">
  <p class="broadcast-message">
    Bjerk kobler programmer sammen slik at folk kan gjøre mer av det de er gode
    på.
    <a href="/artikler/2024/systemkaos" class="cta-text">
      Les om systemkaoset
      <span aria-hidden="true">→</span>
    </a>
  </p>
</aside>

<style>
  .broadcast-message {
    max-width: 65ch;
    text-wrap: pretty;
    margin: 0;
  }

  .cta-text {
    display: inline-block;
    color: var(--color-white);
    display: inline-block;
    text-decoration: underline;
  }

  .cta-text:hover {
    text-decoration: none;
  }
</style>