---
---
<head>
  <script
  src='//eu.fw-cdn.com/12618922/640353.js'
  chat='false'>
  </script>
</head>

<form action="">
    <input
      placeholder="E-postadresse"
      type="text"
      name="name"
      id="name"
      required
    />
  <div>
    <textarea
      placeholder="Hva dreier deg seg om?"
      name="description"
      id="description"
      rows="5"
      required
    />
    <p>
      Ved å sende inn dette skjemaet godtar du at vi lagrer og behandler
      personopplysningene dine. Les mer om hvordan vi behandler personopplysninger
      i vår
      <a href="/personvern">personvernerklæring</a>.
    </p>
    <button class="primary" type="submit" id="submit">Send inn</button>
  </div>
</form>

<style>
  form,
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  form {
    gap: 2rem;
  }
  p {
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
  }
</style>
