---
import Logo from './logo.astro';
import DiscordIcon from '~icons/ph/discord-logo-fill';
import GitHubIcon from '~icons/ph/github-logo-fill';
import LinkedInIcon from '~icons/ph/linkedin-logo-fill';
---

<footer>
  <div class="container">
    <section class="logo">
      <Logo />
      <div>
        © Bjerk 2023
      </div>
      <div>
        Org. nr.: 998 732 867
      </div>
    </section>
    <section class="contact">
      <p>
        Arbins gate 11 
        <br>
        0253 Oslo
      </p>
      <p>
        <a href="mailto:kontoret@bjerk.io">
          kontoret@bjerk.io
        </a>
        <br>
        <a href="tel:+4722120512">+47 22 12 05 12</a>
      </p>
    </section>
      <ul class="links">
        <li><a href="/vilkar">Vilkår</a></li>
        <li><a href="/personvern">Personvernerklæring</a></li>
      </ul>
    <section class="socials">
      <a
        aria-label="Discord-server for Bjerk"
        href="https://discord.gg/v6uUBFxXNf"
      >
        <DiscordIcon />
      </a>
      <a
        aria-label="GitHub-profile for Bjerk"
        href="https://github.com/bjerkio"
      >
        <GitHubIcon />
      </a>
      <a
        aria-label="Linked-profile for Bjerk"
        href="https://www.linkedin.com/company/bjerk"
      >
        <LinkedInIcon />
      </a>
    </section>
  </div>
</footer>

<style>
  footer {
    background-color: hsl(var(--blue-base) 20%);
  }

  a {
    --link-color: hsl(var(--blue-base) 80%);
  }

  @media (hover) {
    a:hover {
      --link-color: hsl(var(--blue-base) 70%);
    }
  }

  .container {
    width: var(--container-width);
    margin-inline: auto;
    color: white;
    padding-block: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contact p:first-child {
    margin-top: 1.2rem;
    max-width: 30ch;
  }
  .content {
    height: 100%;
  }

  .logo div {
    color: hsl(var(--blue-base) 70%);
  }
  .logo {
    margin-top: 1.2rem;
  }
  .socials {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
  }

  .socials a {
    color: white;
  }

  .links {
    display: flex;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  @media(max-width: 767px) {
    .container {
      padding-block: 1rem;
    }
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .container {
      justify-content: space-around;
    }
    .socials {
      width: 100%;
      justify-content: space-around;
    }
  }
</style>
