---
import Broadcast from "./broadcast.astro";
import LogoSymbol from "./logo-symbol.astro";
---

<header x-data="{ navOpen: false }">
  <a class="logo" aria-label="Gå til forsiden" href="/">
    <LogoSymbol />
  </a>
  <nav class="right-nav" x-init="$el.style.display = 'flex'">
    <a href="/om">Om oss</a>
    <a href="/kontakt">Kontakt oss</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    position: relative;
    align-items: center;
    width: var(--container-width);
    margin-inline: auto;
    padding: 2rem 0;
    gap: 2rem;
  }

  @media (max-width: 600px) {
    header {
      gap: 3rem;
      flex-wrap: wrap;
    }

    a.logo {
      order: 2;
    }

    .right-nav {
      order: 3;
    }
  }

  a.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
  }

  nav {
    flex-grow: 1;
    justify-content: flex-end;
    display: grid;
    gap: 0.5rem;
  }

  nav a {
    display: block;
    padding: 0.5rem;
    padding-right: 0rem;
    text-decoration: none;
    /* font-size: 1.5rem; */
    text-transform: lowercase;
  }

  @media (hover) {
    nav a:hover {
      color: var(--color-link);
    }
  }
</style>