---
import MobileNav from './mobile-nav.astro';
import Logo from './logo.astro';
import Megaphone from '~icons/ph/megaphone';
---

<div class="broadcast">
  <div class="broadcast-content">
    <Megaphone class="icon" />
    <p>
      Vi bryr oss om <strong>universell utforming</strong>, lær om det og spis
      frokost med oss 30. november.
      <a href="/arrangementer/2023-11-30/frokost">Les mer →</a>
    </p>
  </div>
</div>

<header>
  <a class="logo" aria-label="Gå til forsiden" href="/">
    <Logo />
  </a>
  <nav>
    <ul>
      <li><a href="/om">Om oss</a></li>
      <li><a href="/arbeid">Arbeider</a></li>
      <!-- <li><a href="/services">Tjenester</a></li> -->
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
    <div class="mobile-nav">
      <MobileNav />
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin-inline: auto;
    padding: 2rem 0;
  }

  header .logo {
    display: inline-block;
    color: inherit;
  }

  nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  nav ul li {
    font-size: rem;
  }

  nav ul li a {
    color: inherit;
    text-decoration: none;
  }

  @media (hover) {
    nav ul li a:hover {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.2em;
    }
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  .mobile-nav {
    display: none;
  }

  @media (max-width: 480px) {
    header nav ul li:not(.emphasis) {
      display: none;
    }

    .mobile-nav {
      display: block;
    }
  }

  .broadcast {
    width: var(--container-width);
    margin-inline: auto;
  }

  .broadcast .icon {
    min-width: 1.5rem;
    color: hsl(var(--blue-base) 20%);
  }

  .broadcast > .broadcast-content {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    background-color: hsl(var(--blue-base) 90%);
    padding-inline: 1rem;
    border-radius: 0.6rem;
    margin-top: 1rem;

    color: hsl(var(--blue-base) 20%);
    font-size: 0.9rem;
  }
</style>
