---
import MobileNav from './mobile-nav.astro';
import Logo from './logo.astro';
import Megaphone from '~icons/ph/megaphone';

const navs = [
  {name: "Om", path: "/om"},
  {name: "Arbeid", path: "/arbeid"},
  {name: "Artikler", path: "/artikler"},
  {name: "Kontakt", path: "/kontakt"}
]

const removeTrailingSlash = (url: URL) => {
  if (url.pathname.endsWith("/")) {
    url.pathname = url.pathname.slice(0, -1);
  }
  return url;
};

const currentPath = removeTrailingSlash(Astro.url).pathname;

---

<header>
  <a class="logo" aria-label="Gå til forsiden" href="/">
    <Logo />
  </a>
  <nav>
    <ul>
      {navs.map(nav =>
        <li class={nav.path === currentPath ? "active" : "inactive" } ><a href={nav.path}>{nav.name}</a></li>
      )}
    </ul>
    <div class="mobile-nav" transition:persist>
      <MobileNav navOptions={navs} />
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin-inline: auto;
    padding: 2rem 0;
  }

  header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
  }
  nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  nav ul li {
    font-size: rem;
    padding: 0.25rem 1rem;
    border-radius: 16px;
  }

  nav ul li a {
    color: inherit;
    text-decoration: none;
  }

  nav ul .active {
    background-color: hsl(var(--green-base) 75%);
  }

  @media (hover) {
    nav ul li a:hover {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.2em;
    }
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  .mobile-nav {
    display: none;
  }

  @media (max-width: 640px) {
    header nav ul li:not(.emphasis) {
      display: none;
    }

    .mobile-nav {
      display: block;
    }
  }

  .broadcast {
    width: var(--container-width);
    margin-inline: auto;
  }

  .broadcast .icon {
    min-width: 1.5rem;
    color: hsl(var(--blue-base) 20%);
  }

  .broadcast > .broadcast-content {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    background-color: hsl(var(--blue-base) 90%);
    padding-inline: 1rem;
    border-radius: 0.6rem;
    margin-top: 1rem;

    color: hsl(var(--blue-base) 20%);
    font-size: 0.9rem;
  }
</style>
