---
import Broadcast from "./broadcast.astro";
import LogoSymbol from "./logo-symbol.astro";
---

<header>
  <div class="logo">
    <a class="logo" aria-label="Gå til forsiden" href="/">
      <LogoSymbol />
    </a>
    <Broadcast />
  </div>
  <button class="menu-button" aria-expanded="false" aria-haspopup="true">
    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.99316" y="2" width="14" height="2" fill="black"/>
      <rect x="1.99316" y="7" width="14" height="2" fill="black"/>
      <rect x="1.99316" y="12" width="14" height="2" fill="black"/>
    </svg>
    Meny
  </button>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin-inline: auto;
    padding: 2rem 0;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
  }

  .menu-button {
    font-size: 1rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: var(--border-radius);
    padding-block: 0.5rem;
    padding-inline: 0.8rem;
    background-color: hsl(var(--base-frostbite) 84%);
    gap: 0.25rem;
    cursor: pointer;
  }
</style>