---
const { title, description} = Astro.props;
---

<div class="card">
  <img src="assets/intro-card.png" alt="big-smile" />
  <h2>{title}</h2>
  <p>{description}</p>
</div>

<style>
  img {
    width: 100%;
    border-radius: 1em;
    object-fit: cover;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(var(--blue-base) 95%);
  }
</style>