---
// Import necessary components
import X from "~icons/ph/x";
import List from "~icons/ph/list";
---

<script>
  const openButton = document.querySelector(
    '[data-small-screen-menu="open-button"]'
  );
  const closeButton = document.querySelector(
    '[data-small-screen-menu="close-button"]'
  );
  const menu: HTMLDialogElement = document.querySelector('[data-small-screen-menu="menu"]');

  const openModal = () => {
    menu.showModal();
    openButton.setAttribute("aria-expanded", "true");

    document.addEventListener("click", handleClickOutside);
    closeButton.addEventListener("click", closeModal);
  };

  const closeModal = () => {
    menu.close();
    openButton.setAttribute("aria-expanded", "false");

    document.removeEventListener("click", handleClickOutside);
    closeButton.removeEventListener("click", closeModal);
  };

  const handleClickOutside = (event) => {
    if (event.target === menu) {
      closeModal();
    }
  };

  openButton.addEventListener("click", openModal);
</script>

<button
  type="submit"
  class="menu-button"
  data-small-screen-menu="open-button"
  name="meny"
  aria-expanded="false"
>
  <List />
  <span>Meny</span>
</button>

<dialog data-small-screen-menu="menu">
  <button
    class="close-button"
    type="submit"
    aria-label="Lukk meny"
    data-small-screen-menu="close-button"
  >
    <X />
  </button>
  <div class="dialog-content">
    <ul class="navigation">
      <li><a href="/about">Om oss</a></li>
      <li><a href="/work">Arbeider</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
    <div class="actions">
      <a class="button" href="tel:+4722120512">Ring oss</a>
    </div>
  </div>
</dialog>

<style>
  .menu-button {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
  }

  .menu-button:focus,
  .menu-button:active {
    outline: none !important;
    background-color: var(--color-subtle-bg);
  }

  dialog {
    margin: 0;
    padding: 0.5rem;
    padding-top: 4rem;
    width: calc((100% - 6px) - 2em);
    max-width: 450px;
    border: 0px;
    top: 5%;
    left: 5%;
    box-shadow: 0 3px 12px rgb(0, 0, 0, 0.12);
    will-change: transform, opacity;
    transform-origin: 100% 0;
    border-radius: var(--border-radius);
    transition:
      opacity 0.35s ease 0s,
      transform 0.35s ease 0s;
  }

  dialog[open] {
    animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @keyframes zoom {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }

  .navigation li a {
    color: hsl(var(--blue-base) 20%);
    text-decoration: none;
    padding: 1rem;
    display: block;
    border: 2px solid transparent;
    border-radius: var(--border-radius-sm);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navigation li a:focus,
  .navigation li a:active {
    outline: none !important;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    border: 0;
    background: transparent;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .actions {
    padding: 1rem;
    padding-top: 0;
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
  }
</style>
