---
import type { CollectionEntry } from 'astro:content';

export type Props = CollectionEntry<'project'>;

const format = (date: Date) => {
  if (!date) return undefined;

  return date.getFullYear();
};

const { data } = Astro.props;
---

<div class="card">
  <div class="info">
    <h2>{data.title}</h2>
    <p>{data.description}</p>
  </div>
  <dl>
    <div>
      <dt>Periode</dt>
      <dd>{[data.dateFrom, data.dateTo].map(d => format(d)).join('-')}</dd>
    </div>
    <div>
      <dt>Kunde</dt>
      <dd>
        {data.customer}
      </dd>
    </div>
  </dl>
</div>

<style>
  .card {
    width: 100%;
    background-color: hsl(var(--blue-base) 95%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    gap: 1.5rem;
  }

  .info p, .info h2 {
    margin: 0;
  }

  .info h2 {
    margin-bottom: 1rem;
  }

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
    gap: 1rem;
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
  @media (max-width: 640px) {
    .card {
      grid-template-columns: auto;
    }
    dl {
      text-align: start;
      grid-template-columns: 1fr;
    }
  }
</style>
