.employe{
    display: flex;
    width: 1370px;
    max-width: 100%;
    margin: auto;
    align-items: stretch;
    flex-flow: row wrap;
    &__photo-container{
        flex-basis: 33%;
    }
    &__text-content{
        flex-basis: 67%;
    }
    &__name{
        margin-top: 0;
        color: $primary;
        font-weight: normal;
        font-size: 2.7rem;
        margin-bottom: .2em;
    }
    &__role{
        margin-top: 0;
        font-weight: 600;
        font-size: 1.5rem;
        font-weight: normal;
    }
    &__text{
        line-height: 1.18em;
        margin-top: 0;
        margin-bottom: .7em;
    }
    &__link{
        display: block;
        font-size: 1.31rem;
        text-decoration: none;
        color: $dark;
        &:last-of-type{
            margin-top: 0.3em;
        }
    }
    &__contacts{
        margin-top: 1rem;
    }
    @include media-df-dmd{
        &__img{
            width: 250px;
            height: 250px;
        }
        &__photo-container{
            flex-basis: 275px;
        }
        &__text-content{
            flex-basis: calc(100% - 275px);
        }
    }
    @include media-df-tp{
        display: block;
        &__photo-container{
            margin-bottom: 4.5vw;
        }
    }
    @media (max-width: 600px){
        &__img{
            margin: auto;
        }
    }
} 