<app-bjerk-header></app-bjerk-header>
<div class="big-b" fxHide.lt-md>
  <div class="slogan">
    Let’s create something<br />awesome together.<br /><br />
    <button class="dark" mat-button>
      Dette er en lengre knapp <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</div>
<div class="call-block container" fxLayout="row">
  <div class="content">
    <h1>We are<br />digitalization.</h1>
    <button mat-button>
      Dette er en lengre knapp <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</div>
<article class="offer-showcase container" fxLayout.gt-md="row-reverse" fxLayout="column" fxLayoutAlign="start center">
  <header fxFlexAlign="start">
    <h2>
      Management <span>for Hire</span>
    </h2>
  </header>
  <section class="article-preview">
    <strong>
      We excel at evolving clients and driving the force of digitalization
      further. Bjerk is a multi-disciplinary agency of business creativity.
      We’re experts in digital business concepts with extreme innovation.
    </strong>
    <p>
      We believe that doing what your best at drives you further. We want more
      companies to purify their focus, and with our Management for Hire offerings,
      Bjerk focuses on evolving the company with technology and modernized processes
      in mind. We have educated CEOs, CTOs and CMOs – ready at your fingertips, ready
      for the next move.
    </p>
    <button mat-button>
      Read more about how <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </section>
</article>

<section class="container links">
    <h2 hidden>Usefull links</h2>
    <app-link-card *ngFor='let cardLink of cardLinks' [cardLink]='cardLink'></app-link-card>
</section>
