@import '../bjerk-design/bjerk-design.config.scss';
@import '../styles-lib/variables';
.big-b {
  //height: 50rem;
  background-size: cover;
  position: relative;
  background-color: $dark;
  .slogan {
    color: $dry;
    font-size: 2.5rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: right;
  }
}

.call-block {
  .content {
    margin: 3.75rem 0;
    height: 47.5rem;
  }
  h1 {
    font-family: 'TTCommons', sans-serif;
    font-weight: 100;
    font-size: 9.75rem;
    color: $iron;
  }
}
.links{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 3.75rem 0;
  @include media-mf-dmd{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  @include media-df-dmd{
    align-items: center;
  }
}
app-link-card{
  max-width: 100%;
  @include media-mf-dmd{
    max-width: 32.6%;
  }
  @include media-df-dmd{
    max-width: 80%;
    width: 536px;
    margin-bottom: 30px;
  }
  @include media-df-tp{
    max-width: 100%;
  }
}


@media (max-width: 1120px) {
  .big-b {
    height: 40rem;
    .slogan {
      right: 5%;
      font-size: 1.8rem;
    }
  }
  .call-block {
    .content { height: auto; }
  }
}

@include media-df-dsm{
  .call-block h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 599px) {
  .call-block h1 {
    font-size: 3rem;
  }
}
