/* You can add global styles to this file, and also import other style files */
@import './app/styles-lib/variables';
@import './app/styles-lib/link-card/link-card';
@import './app/styles-lib/person-avatar/person-avatar';
@import './app/styles-lib/footer/footer';
@import './app/styles-lib/hero/hero';

body {
  margin: 0;
  font-family: 'TTCommons-Regular', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}
