---
import type { MarkdownLayoutProps } from "astro";
import Layout, { type Props as DefaultLayoutProps } from "./default.astro";

export type Props = MarkdownLayoutProps<DefaultLayoutProps>;
const { frontmatter } = Astro.props;
---

<Layout {...frontmatter}>
  <main>
    <article>
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    width: var(--container-width);
    margin-inline: auto;
  }

  article {
    line-height: 1.6;
    letter-spacing: -0.003em;

    display: grid;
    grid-template-columns:
      minmax(auto, 1fr)
      minmax(auto, 80ch)
      minmax(auto, 1fr);
  }

  article :global(> p) {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
  }

  article :global(ul > li) {
    font-size: clamp(0.8rem, 4vw, 1.2rem);
  }

  article :global(> pre) {
    padding: 1rem;
  }

  article :global(> h1) {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    text-wrap: pretty;
  }

  article :global(> h2) {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  article > .hero {
    grid-column: 1 / -1;
  }
  article :global(> *) {
    grid-column: 2;
  }
  article :global(img) {
    margin-inline: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
  }
  article :global(.hero) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
