---
import type { MarkdownLayoutProps } from 'astro';
import Layout, { type Props as DefaultLayoutProps } from './default.astro';

export type Props = MarkdownLayoutProps<DefaultLayoutProps>;
const { frontmatter } = Astro.props;
---

<Layout {...frontmatter}>
  <main>
    {
      frontmatter.headline && (
        <aside>
          <h1>{frontmatter.headline}</h1>
        </aside>
      )
    }
    <section>
      <slot />
    </section>
  </main>
</Layout>

<style>
  main {
    margin-block: 2rem;
    width: min(90ch, 100% - 4rem);
    margin-inline: auto;

    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  :global(section > :first-child) {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  aside {
    max-width: 275px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 0.7rem;
    text-wrap: pretty;
  }

  section {
    max-width: 60ch;
  }

  main :global(img) {
    max-width: 100%;
    height: auto;
    margin-block: 2rem;
  }

</style>
