@import '../bjerk-design.config';

.mobile-nav-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: $primary;
  z-index: 999;
  mat-icon {
    color: $dry;
  }
}

@keyframes showMobileText {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes showMobileAni {
  0% {
    transform: scale(0.3) translateX(100vw) translateY(100vh);
    border-radius: 100%;
    background-color: $primary;
  }
  100% {
    transform: scale(3);
  }
}

.mobile-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 100vh;
  background-color: $dark;
  animation-name: showMobileAni;
  animation-duration: .7s;

  animation-timing-function: cubic-bezier(.25,.8,.25,1);
  z-index: 997;
}

ul.mobile-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
  flex-direction: column;
  overflow: hidden;

  opacity: 0;
  animation-name: showMobileText;
  animation-delay: .2s;
  animation-duration: 1s;
  animation-fill-mode: both;

  z-index: 998;

  > li a {
    display: block;
    font-size: 2.5rem;
    padding-left: 3.75rem;
    color: $dry;
  }
}

ul {
  display: flex;
  place-content: center flex-start;
  flex-direction: row;
  box-sizing: border-box;
  margin:0px;
  padding:0px;

  > li {
    list-style: none;
    a {
      display: block;
      padding: 1.2rem;
      font-size: 1.25rem;
      text-decoration: none;
      color: $dark;
    }
  }
}
