<div class="mobile-background" fxHide.gt-xs [fxShow]="showMobile">
</div>

<ul ngClass.xs="mobile-nav" [fxHide]="!showMobile" fxShow.gt-xs>
  <li><a href="#about">About</a></li>
  <li><a href="#events">Events</a></li>
  <li><a href="#Principles">Principles</a></li>
  <li><a href="#Competencies">Competencies</a></li>
  <li><a href="#Contract">Contract</a></li>
</ul>

<button fxHide fxShow.xs mat-fab class="mobile-nav-fab" (click)="showMobileNav()">
  <mat-icon *ngIf="!showMobile" svgIcon="bjerk-menu"></mat-icon>
  <mat-icon *ngIf="showMobile">close</mat-icon>
</button>
